@import "styles/themes/cis-color";
@import "styles/base/variable";

.color__field {
    position: relative;
    &:hover{
        border: 1px solid map-get($theme-colors, "gray-8");
        &::before{
            content: "點擊複製 ClassName";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding: 8px 12px;
            color: map-get($theme-colors, "white");
            border-radius: 0 0 0 $basic-border-radius;
            background-color: map-get($theme-colors, "gray-8");
        }
    }
}